.filterLabel {
  display: block;
  margin-bottom: 10px;
}

.labelText {
  margin-bottom: 5px;
  color: white;
  background-color: lightpink;
  padding: 5px;
  border-radius: 5px;
}

.filterInput {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}
