.linkH {
  text-decoration: none;
  font-weight: 500;
  font-size: 30px;
  color: pink;
  padding: 20px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid fuchsia;
  border-radius: 10px;
  padding: 10px;
}

.containerH {
  padding-left: 30px;
}
