.list {
  list-style: none;
  padding: 0;
}

.item {
  margin-bottom: 10px;
}

.contact {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 10px;
  font-weight: bold;
}

.number {
  margin-right: 10px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: pink;
  color: white;
  border: none;
  cursor: pointer;
}
